a {
	color: #ffffff;
	text-decoration: none;
	font-family: Myriad Pro, sans-serif;
}
.header {
	width: 1280px;
	height: 200px;
	margin: 0 auto;
} 
.logo {
	font-size: 80px;
	text-align: left;
	margin-bottom: 5%;
} 
.logo a {
	color: #000000;
}
.mda {
	color: #4bcaff;
}

.navbar {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #35444f;
	height: 54px;
	font-size: 24px;
}
.nav-item {
    float: left;
    padding: 15px 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.nav-item:first-child {
    margin-left: 23%;
}
.nav-item:hover {
    background-color: #162A38;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

        			/*Here header end!*/

.content {
	display: block;
	width: 1280px;
	height: 529px;
	margin: 0 auto;
	margin-top: 5%;
}
.left-menu {
	float: left;
	width: 344px;
	height: 399px;
	border: 1px solid black;
	list-style: none;
	font-size: 25px;
	font-family: Myriad Pro sans-serif;
	
}
.left-menu a {
	border: none;
	padding: 26px;
	text-align: left;
	height: 25%;
	display: block;
	color: #485863;
}
.left-menu a:hover {
	border: none;
	padding: 30px;
	text-align: center;
	height: 55%;
	display: block;
	background-color: #D9D9D9;
	color: #000000;
}

.top-image {
	width: 885px;
	height: 529px;
	background-color: white;
	float: right;
	margin: 0 auto;
	text-align: center;
	display: block;
	border: 1px solid black;
	transition: transform 0.4s linear;
}
.main-image {
	margin: 0 auto;
	padding: 10%;	
}
.top-image:hover {
    transform: scale(1.05);

}

    			/* here content end*/
.main-text{
	width: 1280px;
	display: block;
	margin-bottom: 30%;
	font-family: Myriad Pro, sans-serif;
	line-height: 1.25em;
	position: center;
}
.top-paragpaph {
	display: block;
	margin: 0 auto;
	color: #2c2b2b;
	margin-top: 3%;
	float: right;
	margin-left: 35%;
}
/* here text end*/

.footer {
	width: 1280px;
	height: 54px;
	background-color: #B3B6B9;
	color:  #041222;
	margin: auto;
}
.footer a{
	color:  #041222;
}
.footbar{
	margin-left: 5%;
	width: 809px;
}
.foot-item{
	font-size: 24px;
	float: left;
	padding: 15px 10px;
}

.foot-item:hover a{
    color: #3181a6;
    text-decoration: underline;
}
.copyright {
	float: right;
	font-size: 24px;
	padding: 15px 10px;
	font-family: Myriad Pro, sans-serif;
}