* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: 900;
	color: #000000;
	font-family: Roboto, sans-serif;
	color: #545557;
	background-color: #F5F6F8;


}

.header {
	text-align: center;
	word-spacing: 40px;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 10px;
}
a {
	font-size: 1em;
	color: #48AA92;
	font-size: 2em;
	text-decoration: none;
}
.img {
	width: 100%;
}

.content {
	padding: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	line-height: 1.5em;


}
p, h3 {
	margin-bottom: 1em;
}

.button {
	background: #48AA92;
	border-radius: 15px;
	height: 50px;
	width: 150px;
	border: none;
	margin: 0 auto;

}
.get-started{
	color: white;
	text-align: center;
	font-size: 0.75em;
	background-color: #48AA92;
}

.footer {
	text-align: right;
	font-size: 1em;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: 10%;
	color: black;
	background-color: #fff;
}